language: ruby
rvm:
  - 2.2
gemfile: Gemfile
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - "cp config/database.yml.travis config/database.yml"
  - "cp config/secrets.yml.travis config/secrets.yml"
  addons:
      artifacts: true