env:
  global:
    - "ARTIFATCS_AWS_BUCKET = flashcardsbucket"
    - "ARTIFATCS_AWS_REGION = eu-central-1"
    - "ARTIFATCS_AWS_ACCESS_KEY_ID = ENV['AWS_ACCESS_KEY_ID']"
    - "ARTIFATCS_AWS_SECRET_ACCESS_KEY = ENV['AWS_SECRET_ACCESS_KEY']"
language: ruby
rvm:
  - 2.2
gemfile: Gemfile
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - "cp config/database.yml.travis config/database.yml"
  - "cp config/secrets.yml.travis config/secrets.yml"
addons:
  artifacts: true