<p>Первый в мире удобный менеджер флеш-карточек. Именно так.</p>
<p id="notice"><%= notice %></p>
<div class="main_form">
  <% if @card.nil? %>
    <p>Сегодня нет слов для повторения :)</p>
    <p>Либо текущая колода пуста :)</p>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>