<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to t("views.button.edit"), edit_user_path(@user) %> |
<%= link_to t("views.button.back"), users_path %>
